# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

<strong>Objectives:</strong>
<ul>
    <li>List popular languages for Data Science</li>
    <li>Commonly used libraries used by Data Scientists</li>
    <li>Few examples of evaluating arithmetic expressions in Python</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>C++</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>PyTorch</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Pandas</td>
    </tr>
    <tr>
        <td>PyTorch</td>
    </tr>
    <tr>
        <td>Jupyter Notebooks</td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>

Yazzinez